.main__container {
    grid-column: 2 /3;
    position: relative;
    background-color: #E9EAF2;
    z-index: inherit;
}
.banner {
    background-image: url("../../assets/banner.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center bottom;
    height: 60vh;
    background-repeat:no-repeat;
}
.main {
    height: 400vh;
}
@media (max-width: 768px) {
    .main__container {
        grid-column: 1 /3;
    }
}