.main__container {
    grid-column: 2 /3;
    position: relative;
    height: 2000px;
    background-color: #E9EAF2;
}
.banner {
    height: 400px;
    background-color: #444
}
@media (max-width: 768px) {
    .main__container {
        grid-column: 1 /3;
    }
}