.main__container {
    grid-column: 2 /3;
    position: relative;
    height: 2000px;
    background-color: #E9EAF2;
}
.banner {
    background-image: url("../../assets/Группа 2.png");
    background-position: center top;
    background-size: contain;
    padding-bottom:100%;
    background-repeat:no-repeat;
}
@media (max-width: 768px) {
    .main__container {
        grid-column: 1 /3;
    }
}