.banner {
    position: sticky;
    top: 0;
    width: 100%;
    background-image: url("../../assets/banner.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center bottom;
    height: 60vh;
    background-repeat:no-repeat;
    z-index: -1;
}
.main__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    min-height: 100px;
    box-sizing: border-box;
    align-content: flex-start;
}
@media (max-width: 768px) {
    .main__container {
        grid-column: 1 /3;
    }
}