@import "./common.css";
@import "./components/header.css";
@import "./components/nav.css";
@import "./components/main.css";
@import "./components/forms.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', 'Roboto', 'Open Sans', sans-serif;
    font-weight: 200;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px auto;
    background-color: #E9EAF2;
}
@media (max-width: 768px) {
    .container {
        grid-template-columns: none;
    }
}